@import "~bootstrap/scss/bootstrap";
.page{
    margin-top: 100px;
}
.carte {
    width: 85%;
    margin: 40px auto;
}
path {
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: .25;
    fill: #86aae0;
}
g path:hover {
    fill: #86eee0;
}